@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font: 15px/1.8 "Poppins", sans-serif !important;
    overflow: scroll;
    height: 100%;
    margin: 0;
   
  }
  .main-container {
    padding: 20px;
   
  }
  .header {
    background-color: rgb(105, 27, 105);
    width: 100%;
    height: 200px;
    margin-left: 0;
    margin-bottom: 40px;
   
  }

  .profile-details {
    display: flex;
    justify-content: space-evenly;
    color: rgb(197, 183, 183);
  }
  .section{
    width: 100%;
    height: 20px;
    color: rgb(105, 27, 105);
    justify-items: center;
    align-items: center;

    background-color: rgb(105, 27, 105);
  }
  .list-title {
    border-radius: 10px;
    border-color: grey;
    border: 1px solid grey;
    margin-bottom: 30px;
    margin-top: 0px;

  }
  .username {
    color: rgb(190, 203, 214);
    font-size: large;
    font-style: normal;
    font-weight: 300;
    margin-left: 40px;
  }
  .name {
    color: rgb(190, 203, 214);
    font-size: x-large;
    margin-top: 10px;
    margin-left: 50px;
  }
  .title {
    color: rgb(190, 203, 214);
    padding: none;
    margin-top: 100px;
    margin-bottom: none;
    margin-left: 0px;
  }
  .logo {
    width: 60px;
    height: 60px;
    background-color: aliceblue;
    border-radius: 40px;
    margin-bottom: none;
    display: flex;
    margin-left: 50%;
  }
  
  .table-container {
    text-align: center;
    /* padding: 20px;
    margin-left: 10%;
    margin-right: 10%; */
    margin-top: 15%;
    margin-bottom: 20%;
    justify-content: center;
  }
  .repo-logo {
    width: 30px;
    margin-top: 25px;
  }
  .repo-container {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  .repo-name {
    width: 300px;
    height: 50px;
    cursor: pointer;
    border: 1px solid grey;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-style: outset;
    transition: background-color 0.3s;
  }
  .repo-name:hover {
    color: white;
    background-color: black;
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    color: purple;
  }
  .pagination a {
    color: rgb(228, 20, 20);
    float: right;
    /* padding: 8px 16px; */
    text-decoration: none;
    border: 1px solid #ddd;
    width: 10px;
    height: 10px;
  }
  .pagination a:hover:not(.active) {
    background-color: rgb(105, 27, 105);
    
  }